<!DOCTYPE html>
<html lang="pt-BR">
<div class="FormaOPng" style="width: 1520px; height: 1905px; position: relative; background: white">
  <img class="FormaO21" style="width: 1520px; height: 1905px; left: 0px; top: 0px; position: absolute" src="https://i.postimg.cc/br1cQ2PJ/Forma-o-2.png" />
  <div class="Group54" style="width: 286.06px; height: 63.15px; left: 617px; top: 1780.80px; position: absolute">
    <div class="Group30" style="width: 284px; height: 55px; left: 0px; top: 0px; position: absolute; border-radius: 2px; justify-content: center; align-items: center; display: inline-flex">
      <div class="Rectangle1" style="width: 284px; height: 55px; background: #848BBF; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); border-radius: 6px"></div>
    </div>
    <div class="TrabalheComigo" style="width: 286.06px; height: 53.95px; left: 0px; top: 9.20px; position: absolute; text-align: center; color: white; font-size: 26px; font-family: Alike; font-weight: 400; letter-spacing: 1.56px; word-wrap: break-word">Trabalhe comigo</div>
  </div>
  <div class="Group57" style="width: 106.61px; height: 38px; left: 1041px; top: 29px; position: absolute">
    <div class="Group26" style="width: 83px; height: 38px; left: 11px; top: 0px; position: absolute; border-radius: 2px; justify-content: center; align-items: center; display: inline-flex">
      <div class="Rectangle1" style="width: 83px; height: 38px; background: #848BBF; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); border-radius: 6px"></div>
    </div>
    <div class="Home" style="width: 106.61px; height: 22.80px; left: 0px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Alike; font-weight: 400; letter-spacing: 1.20px; word-wrap: break-word">Home</div>
  </div>
  <div class="Group58" style="width: 89.72px; height: 37.62px; left: 1160.63px; top: 29px; position: absolute">
    <div class="Group28" style="width: 89.72px; height: 37.62px; left: 0px; top: 0px; position: absolute; border-radius: 2px; justify-content: center; align-items: center; display: inline-flex">
      <div class="Rectangle1" style="width: 89.72px; height: 37.62px; background: #848BBF; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); border-radius: 6px"></div>
    </div>
    <div class="Design" style="width: 73.89px; height: 22.80px; left: 7.37px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Alike; font-weight: 400; letter-spacing: 1.20px; word-wrap: break-word">Design</div>
  </div>
  <div class="Group59" style="width: 211.28px; height: 37.62px; left: 1267.72px; top: 29px; position: absolute">
    <div class="Group29" style="width: 211.28px; height: 37.62px; left: 0px; top: 0px; position: absolute; border-radius: 2px; justify-content: center; align-items: center; display: inline-flex">
      <div class="Rectangle1" style="width: 211.28px; height: 37.62px; background: #848BBF; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); border-radius: 6px"></div>
    </div>
    <div class="ComoEuTrabalho" style="width: 201.61px; height: 22.80px; left: 4.28px; top: 5px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Alike; font-weight: 400; letter-spacing: 1.20px; word-wrap: break-word">Como eu trabalho?</div>
  </div>
</div>
  
</body>
</html>
